.fuzzy-search{
    position: relative;
}

.fuzzy-inp{
    height: 30px;
    width: 270px;
    padding: 0 4px;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
}

.fuzzy-inp-inactive{
    background-color: #fff;
    cursor: pointer;
}

.fuzzy-results-cont{
    position: absolute;
    top: 25px;
    left: 0;
    width: 330px;
    padding: 0;
    margin: 0;
    max-height: 300px;
    overflow: hidden;
    overflow-y: auto;
    background-color: #f9f9f9;
    z-index: 100;
    text-align: left;
    border: 1px solid #bbb;
    border-radius: 2px;
}

.fuzzy-search-result{
    height: 24px;
    line-height: 24px;
    padding: 0px 8px 0 2px;
    cursor: pointer;
    font-size: 15px;
}

.fuzzy-search-result:hover{
    background-color: #eee;
    cursor: pointer;
}